<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload" %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="loading" data-layout="topnav" data-layout-config='{"layoutBoxed":false,"darkMode":false,"showRightSidebarOnStart": true}'>
<div class="wrapper">
  <div class="content-page">
    <div class="content">
      <%= render 'shared/app/header' %>
      <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> 
    </div>
    <%= render 'shared/app/footer' %>
  </div>
</div>
<script src="/js/vendor.min.js"></script>
<script src="/js/app.min.js"></script>
<!-- dragula js-->
<script src="/js/vendor/dragula.min.js"></script>
<!-- demo js -->
<script src="/js/ui/component.dragula.js"></script>
</body>
</html>
